@import "reset";

body, button, input, textarea, select {
  font-family: Arial, sans-serif;
}

button, input, textarea, select {
  font-size: 1em;
}

h1 {
  font-weight: normal;
}

body > section {
  position: absolute;
}

$btnWidth: 5em;
$btnHeight: 2.5em;
$mainSpeed: 0.3s;
$mainOffset: -17em;

#fsContent {
  width: 80%;
  height: 100vh;
  margin-left: 8%;
  padding-top: 7em;
  bottom: 0;
  //border: 1px solid black;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  & > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0 0 1em;
      padding: 2em 1em;
      background: #ddd;
    }

  }
}

#fsMain {
  right: $mainOffset;
  top: 4em;
  -webkit-transition: -webkit-transform $mainSpeed ease-in-out;
  -moz-transition: -moz-transform $mainSpeed ease-in-out;

  &.selected {
    -webkit-transform: translate3D($mainOffset,0,0);
    -moz-transform: translate3D($mainOffset,0,0);
  }

  button.tab {
    display: inline-block;
    vertical-align: top;
    width: $btnWidth;
    height: $btnHeight;
    margin: 0;
    //margin-left: -1 * $btnWidth;
    background: blue;
    border: 1px solid blue;
    color: white;
    
    // -webkit-transform: rotate(-90deg);
    // -moz-transform: rotate(-90deg);
    // -o-transform: rotate(-90deg);
    // -ms-transform: rotate(-90deg);
    // transform: rotate(-90deg);
    // -webkit-transform-origin: 3.7em 1.3em;
    // transform-origin: 1.1em 3.8em;
    
  }

  & > ul {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    margin: 0 0 0 -0.4em;
    padding: 0;
    width: 16em;
    background: #ddd;
  }
}

#fsTray {
  top: 0;
  right: 10%;
  border: 1px solid red;
  background: red;
  width: 5em;
  height: 2em;
}

section > p:first-child {
  margin-top: 0;
}